<div class="container">
  <div class="top-line">
    <label>Todos</label>
  </div>

  <div class="form-group">
    <input id="todo-input" type="text" [(ngModel)]="todoValue">
    <button id="submit-todo" class="mce-btn-small" (click)="submitTodo()">
      Add todo
    </button>
  </div>
  <div class="main" *ngFor="let todo of todos">
    <todo-item   [(checked)]="todo.checked"
               [(content)]="todo.text"
               (todoDeleted)="delete(todo.id)"
               [id]="todo.id">
    </todo-item>
  </div>
  <div class="footer">
    <span *ngIf="todos.length !== 0" (click)="clearCompleted()">Clear completed</span>
    <div class="form-group">
      <input id="toggle-all" type="checkbox" (change)="toggleAll($event.target.checked)">
      <label class="dummy" for="toggle-all">Mark all as complete</label>
    </div>
  </div>
</div>

